root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python settings
[*.py]
line_length=120
indent_style = space
indent_size = 4

# JavaScript, JSX, CSS, SCSS, HTML settings
[*.{js,jsx,css,scss,html}]
indent_style = space
indent_size = 2

# Markdown settings
[*.md]
trim_trailing_whitespace = false

# Config files
[*.conf]
indent_style = space
indent_size = 2
